body{
    margin:0;
    padding:0;
    /* position:relative; */
}
/* css for navbar */
#nav{

    /* border:solid red; */
    background-color: #ffff;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* position:fixed; */
     position:sticky;
    top:1px;
    z-index:10000;
    


}
#nav>img{
    height:80px;
    /* width:200px; */
}
#nav>form{
    /* border :1px solid blue; */
    height:50px;
    width:60%;
    display:flex;
    align-items: center;
    
}
#nav>form>div{
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;

    padding-left: 10px;
    height:40px;
    background-color: #E9F6F7;
    display:flex;
    align-items: center;

}
#nav>form>input{
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;

    padding-left: 10px;
    border:none;
    background-color: #E9F6F7;
    width:80%;
    height:40px;
    color:gray;
    font-size: 20px;
}
#nav>form>button{
    border:none;
    color:white;
    background-color: rgb(243, 82, 24);
    border-radius: 10px;
    font-size: 20px;
    width:15%;
    height:40px;
}
#nav>div{
    /* border:2px solid; */
    width:20%;
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
#nav>div>a{
    font-size: 25px;
    color:darkcyan;
}
.searchdata{
    height:50px;
background-color: darkcyan;

display: flex;
justify-content: space-evenly;
align-items: center;
}
.searchdata>a{
    color:white;
    font-size: 15px;
    border-bottom: none;
}

/* css for footer */
.footer{
    /* border:1px solid red; */
    margin-top: 40px;

    
    
}

.footer>h1{
    text-align: center;
}
#logo{
    margin-top: 20px;
    text-align: center;
    display:flex;
    justify-content: space-around;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#logo>div{
    width:30%;
    padding:10px 10px 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#logo>div>h2{
    color:gray;
}
#logo>div>i{
    /* border:1px solid */
    color:darkcyan;
    font-size: 40px;
}
.imf{
    /* border:1px solid; */
    display:flex;
    justify-content: left;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.imf>div{
    padding-left: 20px;
    width:18%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color:gray;
    /* border:1px solid red; */
}
.imf>div>h2{
    color:rgb(49, 49, 49);
}
/* css for slideshow */
#slideshow{
    width:100%;
}
#slideshow>img{
    width:100%;
}
/* css for gadget */
/* external css: flickity.css */

/* * { box-sizing: border-box; } */

body { font-family: sans-serif; }

.carousel {
  background:white;
}

.carousel-cell {
    /* border:1px solid; */
    text-align: center;
  width: 30%;
  height: 300px;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  /* counter-increment: carousel-cell; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.carousel-cell>img {
    width:50%;
    height:70%;
    
}

/* .carousel-cell.is-selected {
  background: #ED2;
} */

/* cell number */
/* .carousel-cell:before { */
  /* display: block; */
  /* text-align: center; */
  /* content: counter(carousel-cell); */
  /* line-height: 300px; */
  /* font-size: 80px; */
  /* color: white; */
/* } */
.gadget{
    margin-top: 10px;
    margin-bottom: 30px;
}
.gadget>div:nth-child(1){
    /* border:1px solid red; */
    padding-left:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.gadget>div>a>button{
    padding-left: 30px;
    color:darkcyan;
    background-color: white;
    border:none;
    font-size: 25px;
}
      /* Medium Screen */
      @media only screen and (min-width: 500px) and (max-width: 768px) {

      }

      /* Small Screen */
      @media only screen and (min-width: 320px) and (max-width: 499px) {

      }